<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Liquidity Exchange</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css"> <!-- Font Awesome -->
    <link rel="stylesheet" href="css/normalize.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="css/bootstrap.min.css"> <!-- Bootstrap Grid -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="css/animate.min.css"><!-- Animate -->
    <link rel="stylesheet" href="css/style.css" > <!-- Resource style -->
    <link rel="stylesheet" href="css/magnific-popup.css"> <!-- Resource style -->

    <script src="js/jquery-2.1.4.min.js"></script> <!-- jQuery -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script src="js/bootstrap.min.js"></script>  <!-- Bootstrap -->
    <script src="js/wow.min.js"></script>  <!-- wow.js -->
    <script src="js/jquery.magnific-popup.min.js"></script>  <!-- wow -->
    <script src="js/main.js"></script>  <!-- Main Script -->
    <script src="js/app.js"></script>  <!-- Angular Script -->


</head>
<body ng-controller="RegCtrl as ctrl">
<section id="ready-to-buy">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="logo" src="images/LQD_Logo_grey.gif" alt="" height="70" width="70">
                <p class="subtitle">Liquidity<span class="f-w-400">Exchange</span></p>
                <br>
                <h4>Register A New Account</h4>
                <form name="regForm" ng-submit="ctrl.register()" autocomplete="off">

                    <!-- Username -->

                    <div class="form-group">

                        <input type="text" id="username" name="username" placeholder="Username"
                               class="form-control" ng-model="ctrl.username" required>

                        <div class="help-block" ng-show="regForm.username.$error.required">
                            <p>Please enter a username.</p>
                        </div>

                        <div class="help-block" ng-show="!regForm.username.$error.required&&regForm.username.$invalid">
                            <p class="text-danger">username is invalid.</p>
                        </div>

                    </div>

                    <!-- Email -->

                    <br>
                    <div class="form-group">
                        <input type="email" id="email" name="email" placeholder="Email"
                               class="form-control" ng-model="ctrl.email" required>

                        <div class="help-block" ng-show="regForm.email.$error.required">
                            <p>Please enter an email.</p>
                        </div>

                        <div class="help-block" ng-show="regForm.email.$invalid&&!regForm.email.$error.required">
                            <p class="text-danger">This email is invalid.</p>
                        </div>
                    </div>

                    <!-- Password -->

                    <br>
                    <div class="form-group">
                        <input type="password" id="password" name="password" placeholder="Password"
                               class="form-control" ng-model="ctrl.password" ng-minlength="8" required>

                        <div class="help-block" ng-show="regForm.password.$error.required">

                            <p>Please enter a password.</p>

                        </div>

                        <div class="help-block" ng-show="regForm.password.$invalid&&!regForm.password.$error.required">

                            <p class="text-danger">This password is too short.</p>

                        </div>
                    </div>

                    <br>
                    <div class="form-group">
                        <input type="password" id="passwordConfirm" name="password" placeholder="Confirm Password"
                               class="form-control" ng-model="ctrl.passwordConfirm" ng-minlength="8" required ng-change="ctrl.checkPassword()">

                        <div class="help-block" ng-show="regForm.password.$error.required">

                            <p>Please enter a password.</p>

                        </div>

                        <div class="help-block" ng-show="regForm.password.$invalid&&!regForm.password.$error.required">

                            <p class="text-danger">This password is too short.</p>

                        </div>

                        <div class="help-block" ng-show="!regForm.password.$invalid&&!regForm.password.$error.required&&!ctrl.match">

                            <p class="text-danger">Password not matching.</p>

                        </div>


                        <button type="submit" ng-disabled="(regForm.$invalid || !ctrl.match)"  class="btn btn-green">Next<i class="fa fa-arrow-right"></i></button>
                    </div>


                </form>


            </div>
        </div>
    </div>
</section><!-- //Ready to Buy -->



</body>

</html>